<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Genus" value="Server"/>
    <add key="Server" value="http://localhost:8080"/>
    <add key="UseEmbeddedHttpServer" value="False"/>
    <add key="DataPath" value="..\Data"/>
    <add key="DbNameSuffix" value="Insight"/>
    <add key="ListRefreshPollingIntervalInMilliseconds" value="2500"/>
    <add key="CoGroupDatabase" value="STEAMBIRDS.Insight" />
    <add key="CoGroupId" value="CoGroupEntities/1" />
    <!--<add key="UseTestCoGroup" value="True"/>
    <add key="CoGroupAutoLogin" value="False"/>
    <add key="CreateTestUsers" value="True"/>
    <add key="CreateTestParties" value="True"/>
    <add key="CreateTestTasks" value="True"/>
    <add key="CreateTestInsightData" value="True"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;support"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
